.Aligner-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 12em;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Aligner-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Aligner-item {
  padding-top: 5%;
  padding-left: 2%;
  flex: 1;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}
